body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #ecebff;
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  width: 200px;
  height: 300px;
  border-bottom: 2px solid #b0acfc;
  /* padding: 1px; */
}

.card h2,
h4,
p {
  text-align: end;
  margin: 10px;
}

header {
  background-color: #ecebff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

a {
  text-decoration: none;
  margin: 10px;
  color: #574ff1;
}

.logo {
  width: 25%;
}

nav {
  width: 50%;
}

.icons {
  width: 25%;
  text-align: end;
  padding: 0px 10px;
}

footer {
  background-color: #ecebff;
  height: 75px;
  display: flex;
  justify-content: center;
}

footer h2 {
  text-align: center;
}

.content {
  height: 100vh;
}

h1 {
  text-align: center;
}

input {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 77.5vh;
}

button {
  margin: 20px;
}